.common {
    width: 700px;
    margin: auto;
}

.fig {
    width: 130px;
    text-align: center;
}

img {
    border: 2px solid grey;
    width: 120px;
}

td {
    padding: 10px;
}

body {
    font-size: 14px;
}